body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background:linear-gradient(#940000, #4a0202);
}

header,
nav,
main,
aside,
footer {
    margin-bottom: 20px;
    padding: 15px;
    background: #f7b5c3;
    border: 1px solid #ff0749;
    border-radius: 4px;
}

header h1 {
    margin: 0;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #000000;
    padding: 1.1em;
    text-align: center;
}

main section {
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    background:linear-gradient(to left bottom, #f7b5c3, #ff030329);
}

form label {
    margin-top: 10px;
}

form input,
form textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 300px;
}

form button {
    margin-top: 15px;
    padding: 10px;
    background: #b92929;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.comentario {
    border-bottom: 1px solid #690202;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.comentario:last-child {
    border-bottom: none;
}

aside {
    background: #f7b5c3;
    padding: 10px;
}

footer p {
    text-align: center;
    font-size: 0.9em;
    color: #555;
}

nav a:hover{
    color: #ffffff;
    background-color: #690202;
    padding: 1.1em;
}

aside a{
    text-decoration: none;
    color: #ff0749;
}