body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#000000, #410800);
    margin: 5px;
    color: #fff;
}

header,
main,
aside,
footer{
    margin-bottom: 10px;
}

a,
h1{
    color:rgb(224, 206, 10);
}


nav{
    background:linear-gradient(#d40202, #990000);
    padding: 15px;
}

a{
    padding: .8em;
    text-decoration: none;
    font-size: 20px;
}

header{
    background-color: #990000;
    padding:15px;
    text-align: center;
}


.contenido{
    display: flex;
    justify-items: baseline;
    padding-left: 15px;
    padding-right: 15px;
}

main{
    margin-bottom: 15px;
    background-color: #ff9e9c;
    padding: 15px;
    text-align: justify;
    width: 150%;
    color: #000;
}

aside{
    margin-left: 15px;
    margin-bottom: 15px;
    width: 50%;
    background-color: #ff00408a;
    height:auto;
    padding: 15px;
}

#menuimagen section{
    display: flex;
    align-items: flex-start;
}

#menuimagen p{
    margin-right: 5px;
    margin-left: 5px;
}

a:hover{
    border: 1px solid #bea100;
    background-color: #000000;
}

footer{
    text-align: center;
    background-color: #ff001e32;
    color: #f0f0f048;
    padding: 15px;
    margin-bottom: 0px;
}

#imagen{
    width: 20%;
}

#mapa{
    width:fit-content;
    display: flex;
    align-items: flex-start;
}

#mapa p{
    padding: 15px;
}
